/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}

.gallery-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-itema: center;
  text-align: center;
  height: 48px;
font-family: var(--font-family);
font-weight: 600;
font-size: 12px;
line-height: 133%;
letter-spacing: 0.04em;
color: #2e2f42;
}

.gallery-count {
  font-weight: 400;
  line-height: 200%;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
}

.gallery-link {
  height: 152px;
  overflow: hidden;
}

.gallery-img {
  object-fit: cover;
  object-position: center;
}

.form {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  margin: 0 auto;
display: flex;
flex-direction: row;
}

.form input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 15px;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
border: none;
outline: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #263238;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
